<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372349657929-tk8r41o9bhd9s0clndhq9do3gsnvv0lq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372349657929-tk8r41o9bhd9s0clndhq9do3gsnvv0lq</string>
	<key>API_KEY</key>
	<string>AIzaSyDH052QytFwB0hWg-t--KCl0bMWaC5EnY0</string>
	<key>GCM_SENDER_ID</key>
	<string>372349657929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gunyguni.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9b315</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9b315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372349657929:ios:d85b90709edb1c0567f098</string>
</dict>
</plist>